// This test contains 1 variation of each command type
add
sub
neg
eq
gt
lt
and
or
not
push local 1
push argument 2
push this 3
push that 4
push constant 5
push static 6
push pointer 1
push temp 1
pop local 1
pop argument 1
pop this 1
pop that 1
pop static 7
pop pointer 1
pop temp 1
label TESTLABEL
goto TESTLABEL
if-goto TESTLABEL
function lol 4
push constant 10
push constant 10
add
return
call lol 0